@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700);

.mini-footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
 background:#004689;
 text-align:center;
 padding:5px 0
}
.mini-footer p {
 margin:0;
 line-height:26px;
 font-size:15px;
 color:#FFCB05
}
.mini-footer p a {
 color:#5867dd
}
.mini-footer p a:hover {
 color:#34bfa3
}

