body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: rgb(247,247,247);
}
.card-img-overlay>.card-title{
  font-size: larger;
  font-weight: 600;
}

@media(min-width:576px){
  .dropdown:hover > .dropdown-menu{
    display: block;
    margin-top:0;
  }
}


#btn-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  
  border-radius: 100%; 
 
}




